<div class="col-sm-3">
  <div class="avatar text-right">
    <%= image_tag profile.gr_or_avatar(:medium) %>
  </div>
  <div class="text-right">
    <h3>
      <%= profile.user.username %>
    </h3>

    <p>
      <%= follow_buttons(profile.user) %>
    </p>

    <% if profile.full_name %>
      <%= profile.full_name %><br>
    <% end %>

    <% if profile.website %>
      <%= link_to "Website", profile.website %><br>
    <% end %>

    <% if profile.bio %>
      <%= profile.bio %>
    <% end %>

    <% if profile.user == current_user %>
      <div class="edit-profile">
        <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-primary btn-xs" %>
      </div>
    <% end %>
  </div>

</div>


