<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    
    <h2 class="text-center">Resend email confirmation</h2>

  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
  
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

      <div class="form-group <%= "field_with_errors" if flash[:alert] %>">
        <%= f.label :email, class: "control-label" %>
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        <%= render partial: 'shared/form_error', 
                   locals: {errors: resource.errors.full_messages_for(:email)} %>
      </div>

      <%= content_tag(:div, flash[:alert], :id => "flash_alert", class: "form-group text-danger") if flash[:alert] %>

      <%= f.submit "Send confirmation", class: "btn btn-primary" %>
      <%= render "devise/shared/links" %>

    <% end %> 

  </div>
</div>




