<%# Inject angular app into <html> %>
<% content_for :angular_app do %>
  ng-app="CodeSnapIt"
  ng-controller="SnapItsCtrl"
<% end %>


<header id="main-header" class="page-header text-center">
  <h1>Create a SnapIt</h1>
</header>


<div ng-model="snapIt" ui-ace="{
  useWrapMode: true,
  theme: editor.theme,
  mode: editor.mode,
  onLoad: aceLoaded,
  onChange: aceChanged,
  advanced: {
    fontSize: editor.fontSize
  }
}"></div>

<div class="row" style="border-top-left-radius: 0; border-top-right-radius: 0;">
  <div class="col-xs-4 form-group">
    <%= label_tag('Language') %>
    <%= select_tag('language', options_for_select([
      'javascript',
      'ruby',
      'php'
    ]), :'ng-model' => 'editor.mode', :class => 'form-control') %>
  </div>

  <div class="col-xs-4 form-group">
    <%= label_tag('Theme') %>
    <%= select_tag('theme', options_for_select([
      'tomorrow',
      'monokai',
      'xcode'
    ]), :'ng-model' => 'editor.theme', :class => 'form-control') %>
  </div>

  <div class="col-xs-4 form-group">
    <%= label_tag('Font Size') %>
    <%= select_tag('font_size', options_for_select([
      12, 13, 14, 16, 18, 20, 24, 28, 32, 48, 64
    ]), :'ng-model' => 'editor.fontSize', :class => 'form-control', :'ng-change' => 'fontSizeChanged()') %>
  </div>
</div>



