<%# Inject angular app into <html> %>
<% content_for :angular_app do %>
  ng-app="Editor"
  ng-controller="SnapItProxiesShowCtrl"
<% end %>


<div id="proxy" ui-ace="{
  useWrapMode: true,
  onLoad: aceLoaded,
  theme: '<%= @snap_it_proxy.snap_it_theme.editor_name %>',
  mode: '<%= @snap_it_proxy.snap_it_language.editor_name %>',
  advanced: {
    fontSize: <%= @snap_it_proxy.font_size %>
  }
}"
<% if @snap_it_proxy.wrap_limit %>
  data-wrap-limit="<%= @snap_it_proxy.wrap_limit %>"
<% end %>
><%= @snap_it_proxy.body %></div>



