<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h2 class="pull-left">
      <%= snap_it.user == current_user ? 'You' : link_to(snap_it.user.username, user_profile_path(snap_it.user)) %>
      posted
      <%= link_to(snap_it.title, snap_it_path(snap_it)) %>
      <br>
      <small>
        on <%= snap_it.date %>
      </small>
    </h2>

    <% if current_user == snap_it.user %>
      <%= link_to(fa_icon('times', :text => 'Delete'), snap_it_path(snap_it), :method => :delete, :class => 'btn btn-danger pull-right btn-vertical-center', :data => { :confirm => 'Are you sure?' }) %>
    <% end %>

  </div>
  <div class="panel-body">
    <div class="snap-it-photo">
      <%= link_to(snap_it_path(snap_it)) do %>
        <img class="img-responsive" src="<%= snap_it.photo.file.url %>" alt="<%= snap_it.title %>">
      <% end %>
    </div>
  </div>
  <div class="panel-footer">
    <p><%= tags_to_links(snap_it.description, snap_it.tags) %></p>

    <div ng-controller="CommentsCtrl">
      <div class="pull-right">
        <a href="javascript:void(0)" ng-click="expandComments = true">
          {{ comments.length }} Comments
        </a>
      </div>

      <likes parent="{type: 'snap_it', id: <%= snap_it.id %>}" current-user-id="<%= current_user ? current_user.id : false %>"></likes>

      <comments parent="{type: 'snap_it', id: <%= snap_it.id %>}" current-user-id="<%= current_user ? current_user.id : false %>" comments="comments" ng-show="expandComments"></comments>
    </div>
  </div>
</div>





